
*{
margin: 0%;
padding: 0%;
box-sizing: border-box;
}

body{

height: 100vh;
width: 100%;
background-color: rgb(213, 235, 255);
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

}

#Main_container{

background-color: white;
height: 60%;
width: 20%;
padding: 15px 10px;
border-radius: 10px;
box-shadow: 0px 0px 20px oklch(0% 0 0 / 0.202);
text-align: center;

}
#Main_container img{
height: 60%;
width: 90%;
border-radius: 10px;
}


#Big_text{

margin: 30px 0px 20px 0px;

font-size: 1.5rem;
font-family: sans-serif;
font-weight: bold;

}
#Small_text{

font-family: sans-serif;
color: rgb(150, 150, 150);
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }  